@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');

body {
  font-family: 'Red Hat Display';
  font-style: normal;
  color: #191919;
}

header {
  height: 65px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(50, 62, 200, 0.1);
  border-radius: 0px 0px 16px 16px;
}

footer {
  height: 65px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(50, 62, 200, 0.1);
}

.favorite {
  color: #FFB300;
}